.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 0) {
    .g-pa-20 {
        padding: 1.42857rem !important;
    }
}

.g-bg-gray-light-v5 {
    background-color: #f7f7f7 !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.g-brd-gray-dark-v5 {
    border-color: #999 !important;
}

@media (min-width: 0) {
    .g-py-15 {
        padding-top: 1.07143rem !important;
        padding-bottom: 1.07143rem !important;
    }
}
.g-brd-bottom--dotted {
    border-bottom: dotted 1px transparent;
}
#pricing .price-item {
    margin-top: 2rem;
}

nav{
    background: rgba(244, 98, 58, 0.9) !important;
}
#mainNav .navbar-nav .nav-item .nav-link, #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 1rem;
}
.g-font-size-12 {
    font-size: .85714rem !important;
}
.g-px-15 {
    padding-left: 1.07143rem !important;
    padding-right: 1.07143rem !important;
}

.h-38px {
    height: 38px;
}

h2, .h2 {
    color: rgba(244, 98, 58, 1);
}

.check-list {
    margin: 0;
    padding-left: 0;
}

.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: rgba(244, 98, 58, 1);
    transform-origin: bottom left;
    transform: rotate(45deg);
}